.Main_chat
  .Main_chat__group_info
    .Main_chat__group_info__box
      %p.Main_chat__group_info__box__group_name
        group_name
      %p.Main_chat__group_info__box__user_name
        user_name
    .Main_chat__group_info__edit_btn
      = link_to "#" do
        Edit
  .Main_chat__message_list
    .Main_chat__message_list__box
      .Main_chat__message_list__box__sender
        %p.Main_chat__message_list__box__sender__user
          user
        %p.Main_chat__message_list__box__sender__time
          2019/12/00(Sun) 00:00:00
      .Main_chat__message_list__box__message
        text & pict
  .Main_chat__message_form
    .Main_chat__message_form__box
      .Main_chat__message_form__box__input
        %input{type: "text", placeholder: "type a message", class: "Main_chat__message_form__box__input__text"}
        %label{class: "Main_chat__message_form__box__input__pict"}
          = icon("far", "image")
          %input{type: "file"}
      %input{type: "submit", value: "Send", class: "Main_chat__message_form__box__send"}
