.Main_chat
  .Main_chat__group_info
    .Main_chat__group_info__box
      %p.Main_chat__group_info__box__group_name
      %p.Main_chat__group_info__box__user_name
    .Main_chat__group_info__edit_btn
        Edit
  .Main_chat__message_list
  .Main_chat__message_form
      .Main_chat__message_form__box
        .Main_chat__message_form__box__input
        .Main_chat__message_form__box__send
