$bgc_Side_ber__user_name: #253141;
$bgc_Side_ber__group_list: #2f3e51;
$bgc_Main_chat__group_info: #ffffff;
$bgc_Main_chat__message_list: #fafafa;
$bgc_Main_chat__message_form: #d2d2d2;
$bgc_point: #38aef0; 
$bgc_notification_alert: #f35500

$c_Side_ber: #ffffff;
$c_Main_chat_name: #333333;
$c_Main_chat_detail: #999999;
$c_Main_chat_text: #434a54;
