$bgc_Side_ber__user_name: #253141;
$bgc_Side_ber__group_list: #2f3e51;
$bgc_Main_chat__group_info: #ffffff;
$bgc_Main_chat__message_list: #fafafa;
$bgc_Main_chat__message_form: #d2d2d2;
$c_Side_ber: #ffffff;
