* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.Side_ber {
  @include width_height($w: $Side_ber_width, $h: 100vh);
  @include bgc_color($bgc: $bgc_Side_ber__user_name, $c: $c_Side_ber);
  font-weight: bold;
  &__user_name {
    height: $header_height;
    background-color: $bgc_Side_ber__user_name;
    padding: $Side_bar_padding;
    display: flex;
    align-items: center;
  }
  &__group_list {
    height: $Side_ber__group_list_height;
    background-color: $bgc_Side_ber__group_list;
    padding: $Side_bar_padding;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &__block {
      padding-top: 20px;
      margin-bottom: 40px;
      &__link {
        @include width_height($w: 260px, $h: 45px);
        color: $c_Side_ber;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
.top_items {
  @include width_height($w: 260px, $h: 20px);
  color: $c_Side_ber;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  &__name {
    font-size: 16px;
  }
  &__icons {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    &__edit_account {
      margin-left: 5px;
    }
      a {
        color: $c_Side_ber;
        text-decoration: none;
        text-align: right;
        cursor: pointer;
      }
  }
}
.Main_chat {
  @include width_height($w: $Main_chat_width, $h: 100vh);
  &__group_info {
    height: $header_height;
    background-color: $bgc_Main_chat__group_info;
  }
  &__message_list {
    height: $Main_chat__message_list_height;
    background-color: $bgc_Main_chat__message_list;
  }
  &__message_form {
    height: $footer_height;
    background-color: $bgc_Main_chat__message_form;
  }
}
